/* app.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* index.css */
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* store.css */
  /* Add any specific styles for the store component here */
  
  /* SignInForm.css */
  .signin-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
  }
  
  .signin-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signin-button {
    padding: 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* SignUpForm.css */
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
  }
  
  .signup-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signup-button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* TaskManagement.css */
  .task-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
  }
  
  .task-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .task-button {
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* UserManagement.css */
  .user-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
  }
  
  .user-input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .user-button {
    padding: 10px;
    background-color: #9c27b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


 .signin-btn,
 .signup-btn,
 .create-org-btn,
 .create-user-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }

 .signin-btn {
    background-color: #007bff;
    color: white;
 }

 .signin-btn:hover {
    background-color: #0056b3;
 }

 .signup-btn {
    background-color: #28a745;
    color: white;
 }

 .signup-btn:hover {
    background-color: #218838;
 }

 .create-org-btn,
 .create-user-btn {
    background-color: #17a2b8;
    color: white;
 }

 .create-org-btn:hover,
 .create-user-btn:hover {
    background-color: #147a9e;
 }
  